header {
  background-color: #3de07e;
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 4/2;
  justify-content: space-between;
}

.nav-image {
  align-self: flex-start;
}

header h1 {
  align-self: center;
  font-size: 10vw;
}

.ninjahead {
  align-self: center;
  width: 20%;
}

.main-wrapper {
  padding: 5% 10%;
  color: white;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card img {
  width: 100%;
}

.card h3 {
  margin: 1rem 0 0.5rem 0.5rem;
  font-size: 2rem;
}

.card button {
  background-color: red;
  border: none;
  border-radius: 0.2rem;
  padding: 0.7rem 0.7rem;
  color: white;
  margin: 0 0 0.5rem 0.5rem;
}

/* .list-section {
  display: flex;
  flex-direction: column;
} */

/* .overview-list,
.item-list-1,
.item-list-2 {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
} */

table {
  width: 100%;
  /*  border-bottom: 2px solid white; */
  padding: 0 0.5rem;
}

th {
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 0.5rem;
}

td {
  padding-bottom: 0.7rem;
}

.th-left-column {
  width: 50%;
}

th.right-column {
  width: 10%;
}

hr {
  margin: 0 0.5rem;
}

.total-ul {
  display: flex;
  list-style: none;
  padding: 0.5rem 0.6rem 0 0.6rem;
  justify-content: space-between;
  font-weight: 300;
}
