* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  background-color: black;
}

header {
  background-image: url(poster.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  aspect-ratio: 4/2;
}

.nav-image {
  height: 0.5rem;
  margin: 0.5rem;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  justify-content: space-evenly;
}

.card {
  margin: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
}

.card-smaller {
  height: 30rem;
  width: 18rem;
  color: white;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.card-bigger {
  height: 42rem;
  width: 27.25rem;
  background-color: white;
  color: black;
}

.card-bigger .content-wrapper {
  padding: 0 1rem 1rem 1rem;
}

.content-wrapper h2 {
  padding-top: 1rem;
  font-size: 2rem;
}

.card-bigger .content-wrapper button {
  margin-top: 3rem;
}

.content-wrapper button {
  background-color: red;
  border: none;
  border-radius: 0.2rem;
  width: 9rem;
  padding: 0.3rem 0;
  color: white;
}

footer {
  background-color: #444444;
  width: 100%;
  height: 15rem;
}
